/* Write Your CSS Below */
*{
    font-family: Copperplate;
}
h1{text-shadow: 4px 4px 6px yellow; color:rgb(109, 0, 251);background-image:linear-gradient(rgb(116, 201, 241),rgb(251, 64, 64));border-radius: .40em;text-align: center;width: 850px;justify-content: center;margin: 25px 375px 25px 375px;padding:20px;text-decoration: underline;}
body{background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");background-size: cover;}
#jordans-1{
    border: solid blue;
    box-shadow: 4px 4px 10px rgb(255, 255, 255);
    margin: 100px 375px 50px 500px;
}
#row1-section2{
    border: solid rgb(241, 117, 0);
    background-color: rgb(116, 201, 241);
    color: white;
    margin: 100px 375px 100px 600px;
}
/*#jordans-1-desc{}*/
/*Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/


#jordans-2{
    border: solid red;
    box-shadow: 4px 4px 10px rgb(255, 255, 255);
    margin: 100px 375px 50px 500px;
}
#row2-section2{
    border: solid green;
    background-color: rgb(251, 64, 64);
    color: white;
    margin: 100px 375px 100px 600px;
}
/*
text-align: center;
width: 500px;
justify-content: center;
margin: 100px 375px 50px 375px;
padding:15px
*/